<web-app>
    <servlet>
        <servlet-name>MatrixMultiplication</servlet-name>
        <servlet-class>MatrixMultiplication</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MatrixMultiplication</servlet-name>
        <url-pattern>/compute</url-pattern>
    </servlet-mapping>
</web-app>
